<!doctype html>
<html lang="es" xmlns="https://thymeleaf.org">
	<head>
		<th:block th:insert="~{fragment.html :: head}" />
		<title>Home</title>
	</head>
	<body>
		<header th:replace="~{fragment.html :: header}" />
		<main>
			<h1>Videos</h1>

			<section th:if="${!videos.isEmpty()}">
				<div
					th:each="video : ${videos}"
					class="card d-flex flex-row align-items-center m-3"
				>
					<div class="w-100 p-3">
						<h2 th:text="${video.title}"></h2>
						<iframe
							width="854"
							height="480"
							th:src="${video.videoUrl}"
							th:title="${video.title}"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							referrerpolicy="strict-origin-when-cross-origin"
							allowfullscreen
						></iframe>
						<p>Artista: <span th:text="${video.artist}" /></p>
						<p>
							Año de publicacion:
							<span th:text="${video.releaseYear}?: 'N/A'" />
						</p>
						<p>Genero: <span th:text="${video.genre}" /></p>
					</div>

					<div class="m-5">
						<form
							th:method="delete"
							th:action="@{/video/delete/{id}(id = ${video.id})}"
						>
							<input
								type="hidden"
								name="_method"
								value="delete"
							/>
							<button type="submit" class="btn btn-secondary">
								Borrar
							</button>
						</form>
					</div>
				</div>
			</section>

			<section th:if="${videos.isEmpty()}">
				<h2>No hay videoclips subidos</h2>
			</section>
		</main>
	</body>
</html>
